@import 'fonts';

$PrimaryColor: #415167;
$AccentColor: #C7A17A;
$DarkGray: #151D28;
$LightGray: #EDF0F5;
$AccentColorLight: #F9F5E8;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

*::selection {
    background: #C7A17A50;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $DarkGray;
}

.wrap {
    width: 100%;
    min-height: 100vh;

    .main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .home {
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: flex-start;

            .home__left {
                height: 100vh;
                width: 25%;
                position: absolute;
                top: 0;
                left: 0;
                background: $AccentColorLight;
                z-index: 1;
                padding: 50px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;

                .home__headline {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 900;
                    font-size: calc(35px + 1vw);
                    ;
                    line-height: 70px;
                    color: $PrimaryColor;
                    user-select: none;

                    .home__typer {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 900;
                        font-size: calc(35px + 1vw);
                        line-height: 70px;
                        color: $AccentColorLight;
                        background: $AccentColor;
                        padding: 0 15px;
                    }
                }
            }

            .home__video-wrap {
                width: 55%;
                height: 100vh;
                overflow: hidden;
                position: relative;
                z-index: 0;
                margin-left: 25%;

                .home__play-btn {
                    height: 54px;
                    width: 54px;
                    border-radius: 50%;
                    background: #ffffff;
                    position: absolute;
                    top: calc(50% - 27px);
                    left: calc(50% - 27px);
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 2;

                    .home__play {
                        width: 0;
                        height: 0;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-left: 10px solid $AccentColor;
                    }

                    .home__btn {
                        transition: 0.3s;
                    }

                    .home__pause {
                        width: 5px;
                        height: 15px;
                        border: none;
                        background-color: $AccentColor;
                        display: block;
                        position: relative;
                        right: 5px;

                        &::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 100%;
                            border: none;
                            background-color: $AccentColor;
                            position: relative;
                            left: 10px;
                        }
                    }
                }

                .home__video {
                    width: 100%;
                    height: 100vh;
                    object-fit: cover;
                    z-index: 1;
                    filter: brightness(0.9) contrast(1.5);
                }
            }

            .home__right {
                width: 20%;
                min-height: 100vh;
                background: $PrimaryColor;
                padding: 50px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 50px;

                .cart {
                    width: min-content;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    position: relative;

                    .cart__indicator {
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        background: $AccentColor;
                        color: #ffffff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: 'Nunito', sans-serif;
                        font-weight: 200;
                        font-size: 14px;
                        position: absolute;
                        top: -15px;
                        right: -10px;
                    }

                    .cart__image {
                        height: 25px;
                        width: 25px;
                    }
                }

                .home__nav {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 30px;
                    margin-top: calc(100vh - 600px);

                    .home__nav-item {
                        font-family: 'Nunito', sans-serif;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 24px;
                        color: $LightGray;
                        cursor: pointer;

                        &_active {
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .features {
            width: 100%;
            padding: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .features__headline-group {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .features__subheadline {
                    font-family: 'Nunito', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: $PrimaryColor
                }

                .features__headline {
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 30px;
                    line-height: 34px;
                    color: $PrimaryColor;
                    text-align: center;
                }
            }

            .features__items {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                margin-top: 70px;

                .features__item {
                    width: 20%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    .features__item-headline {
                        font-family: 'Nunito', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 28px;
                        color: #232C38;
                    }

                    .features__item-text {
                        font-family: 'Nunito', sans-serif;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 22px;
                        text-align: center;
                        color: $DarkGray;
                    }

                    .features__img {
                        height: 80px;
                        width: 80px;
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }

    .footer {
        width: 100%;
        padding: 25px;
        background: $LightGray;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        font-size: 16px;
        line-height: 22px;
        color: $PrimaryColor;
        font-style: italic;
    }
}