@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/static/Nunito-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/static/Nunito-LightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/static/Nunito-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/static/Nunito-SemiBold.ttf");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

*::selection {
  background: rgba(199, 161, 122, 0.3137254902);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #151D28;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.wrap .main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .main .home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
}
.wrap .main .home .home__left {
  height: 100vh;
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  background: #F9F5E8;
  z-index: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.wrap .main .home .home__left .home__headline {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: calc(45px + 1vw);
  line-height: 70px;
  color: #415167;
  user-select: none;
}
.wrap .main .home .home__left .home__headline .home__typer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: calc(45px + 1vw);
  line-height: 70px;
  color: #F9F5E8;
  background: #C7A17A;
  padding: 0 15px;
}
.wrap .main .home .home__video-wrap {
  width: 55%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin-left: 25%;
}
.wrap .main .home .home__video-wrap .home__play-btn {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: calc(50% - 27px);
  left: calc(50% - 27px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.wrap .main .home .home__video-wrap .home__play-btn .home__play {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #C7A17A;
}
.wrap .main .home .home__video-wrap .home__play-btn .home__btn {
  transition: 0.3s;
}
.wrap .main .home .home__video-wrap .home__play-btn .home__pause {
  width: 5px;
  height: 15px;
  border: none;
  background-color: #C7A17A;
  display: block;
  position: relative;
  right: 5px;
}
.wrap .main .home .home__video-wrap .home__play-btn .home__pause::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #C7A17A;
  position: relative;
  left: 10px;
}
.wrap .main .home .home__video-wrap .home__video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  filter: brightness(0.9) contrast(1.5);
}
.wrap .main .home .home__right {
  width: 20%;
  min-height: 100vh;
  background: #415167;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}
.wrap .main .home .home__right .cart {
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.wrap .main .home .home__right .cart .cart__indicator {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #C7A17A;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 14px;
  position: absolute;
  top: -15px;
  right: -10px;
}
.wrap .main .home .home__right .cart .cart__image {
  height: 25px;
  width: 25px;
}
.wrap .main .home .home__right .home__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  margin-top: calc(100vh - 600px);
}
.wrap .main .home .home__right .home__nav .home__nav-item {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #EDF0F5;
  cursor: pointer;
}
.wrap .main .home .home__right .home__nav .home__nav-item_active {
  font-weight: 700;
}
.wrap .main .features {
  width: 100%;
  padding: 150px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap .main .features .features__headline-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.wrap .main .features .features__headline-group .features__subheadline {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #415167;
}
.wrap .main .features .features__headline-group .features__headline {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: #415167;
  text-align: center;
}
.wrap .main .features .features__items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  margin-top: 70px;
}
.wrap .main .features .features__items .features__item {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wrap .main .features .features__items .features__item .features__item-headline {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #232C38;
}
.wrap .main .features .features__items .features__item .features__item-text {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #151D28;
}
.wrap .main .features .features__items .features__item .features__img {
  height: 80px;
  width: 80px;
  margin-bottom: 25px;
}
.wrap .main .coffee {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
  background: linear-gradient(90deg, #415167 0%, #415167 100%) no-repeat 0%;
  background-size: 300px 100vh;
}
.wrap .main .coffee .coffee__headline-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.wrap .main .coffee .coffee__headline-group .coffee__subheadline {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #415167;
}
.wrap .main .coffee .coffee__headline-group .coffee__headline {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: #415167;
  text-align: center;
}
.wrap .main .coffee .cofee__swiper {
  width: 100%;
}
.wrap .main .coffee .cofee__swiper .swiper {
  width: 100%;
  height: 450px;
  margin-top: 50px;
}
.wrap .main .coffee .cofee__swiper .swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}
.wrap .main .coffee .cofee__swiper .swiper .swiper-slide .card {
  width: 100%;
  height: 50%;
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
  display: flex;
  align-items: center;
  user-select: none;
}
.wrap .main .coffee .cofee__swiper .swiper .swiper-slide .card .card__image {
  height: 100%;
  width: 200px;
  object-fit: contain;
  background: #EDF0F5;
}
.wrap .main .coffee .cofee__swiper .swiper .swiper-slide .card .card__info {
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap .main .coffee .cofee__swiper .swiper .swiper-slide .card .card__info .card__price {
  font-family: "Nunito", sans-serif;
  font-style: 400;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #C7A17A;
  margin-bottom: 8px;
}
.wrap .main .coffee .cofee__swiper .swiper .swiper-slide .card .card__info .card__name {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #232C38;
}
.wrap .main .coffee .cofee__swiper .swiper .swiper-slide .card .card__info .card__description {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #151D28;
}
.wrap .main .coffee .cofee__swiper .swiper .swiper-slide .card .card__info .card__btn-place {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrap .main .coffee .cofee__swiper .swiper .swiper-slide .card .card__info .card__btn-place .card__btn {
  padding: 6px 15px;
  color: #F9FBFF;
  background: #C7A17A;
  border-radius: 19px;
  border: none;
  outline: none;
  cursor: pointer;
}
.wrap .main .coffee .cofee__swiper .swiper .swiper-slide .card .card__info .card__btn-place .card__btn_white {
  background: transparent;
  color: #415167;
}
.wrap .main .coffee .cofee__swiper .swiper .swiper-button-next {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5725490196) 10.76%, rgba(255, 255, 255, 0) 100%);
  height: 520px;
  width: 13%;
  justify-content: flex-end;
  padding: 50px;
  top: 0;
  right: 0;
}
.wrap .main .coffee .cofee__swiper .swiper .swiper-button-next::after {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #C7A17A url("../image/icons/right-arrow.svg") no-repeat center;
  background-size: 25px;
}
.wrap .footer {
  width: 100%;
  padding: 25px;
  background: #EDF0F5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
  color: #415167;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
