@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/static/Nunito-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/static/Nunito-LightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/static/Nunito-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/static/Nunito-SemiBold.ttf");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

*::selection {
  background: rgba(199, 161, 122, 0.3137254902);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: red;
}

.wrap {
  width: 100%;
  min-height: 100vh;
}
.wrap .main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .main .home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
}
.wrap .main .home .home__left {
  height: 100vh;
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  background: #F9F5E8;
  z-index: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.wrap .main .home .home__left .home__headline {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: calc(35px + 1vw);
  line-height: 70px;
  color: #415167;
  user-select: none;
}
.wrap .main .home .home__left .home__headline .home__typer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: calc(35px + 1vw);
  line-height: 70px;
  color: #F9F5E8;
  background: #C7A17A;
  padding: 0 15px;
}
.wrap .main .home .home__video-wrap {
  width: 55%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin-left: 25%;
}
.wrap .main .home .home__video-wrap .home__play-btn {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: calc(50% - 27px);
  left: calc(50% - 27px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.wrap .main .home .home__video-wrap .home__play-btn .home__play {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #C7A17A;
}
.wrap .main .home .home__video-wrap .home__video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  filter: brightness(0.9) contrast(1.5);
}
.wrap .main .home .home__right {
  width: 20%;
  min-height: 100vh;
  background: #415167;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}
.wrap .main .home .home__right .cart {
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.wrap .main .home .home__right .cart .cart__indicator {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #C7A17A;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 14px;
  position: absolute;
  top: -15px;
  right: -10px;
}
.wrap .main .home .home__right .cart .cart__image {
  height: 25px;
  width: 25px;
}
.wrap .main .home .home__right .home__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  margin-top: calc(100vh - 600px);
}
.wrap .main .home .home__right .home__nav .home__nav-item {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #EDF0F5;
  cursor: pointer;
}
.wrap .main .home .home__right .home__nav .home__nav-item_active {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
